.modal-window {
  overflow: auto;
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  width: 50%;
  height: 57%;
  z-index: 801;
}

.popup {
  position: fixed;
  z-index: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4)
}

.close {
  z-index: 802;
  color: #aaaaaa;
  font-size: 18px;
  font-weight: bold;
  position: fixed;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  z-index: 801;
  flex-wrap: wrap;
}

.info {
  margin-top: 30px;
}

.ingredients {
  height: 40px;
}

li {
  margin-top: 20px;
}

input {
  height: 30px
}

span {
  font-size: 20px;
}

.add_recipe {
  height: 50px;
  width: 150px;
  background-color: #AA3939;
  color: #fff;
}

.close_button {
  height: 50px;
  width: 100px;
  margin-left: 15px;
  background-color: #E0E0E0;
  color: #222222;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
}

textarea, input {
  margin-top: 7px;
  margin-left: 10px;
  width: 40vw
}

h1 {
  text-align: center;
}
