<div *ngIf="modalState" class="popup">
  <div class="modal-window">
    <span class="close" (click)="onClose()">X</span>
    <div class="modal-content">
      <h1>{{'ADD' | translate}}</h1>
      <ul class="info">
        <li><span>{{'NAME' | translate}}</span><br>
          <label>
            <input [formControl]="name" [placeholder]="'HOLDER_NAME' | translate">
          </label>
        </li>
        <li><span>{{'INGREDIENTS' | translate}}</span><br>
          <label>
<textarea [formControl]="ingredients" class="ingredients"
          [placeholder]="'HOLDER_INGREDIENTS' | translate"></textarea>
          </label>
        </li>
        <li><span>{{'TIME' | translate}}</span><br>
          <label>
            <input [formControl]="timeForCooking" [placeholder]="'HOLDER_TIME' | translate">
          </label>
        </li>
        <li><span>{{'DESCRIPTION' | translate}}</span><br>
          <label>
            <textarea [formControl]="description" rows="6" [placeholder]="'HOLDER_DESCRIPTION' | translate"></textarea>
          </label>
        </li>
      </ul>
      <div class="buttons">
        <button (click)="addRecipe(name, ingredients, timeForCooking, description)"
                class="add_recipe">{{'ADD' | translate}}</button>
        <button class="close_button" (click)="onClose()">{{'CLOSE' | translate}}</button>
      </div>
    </div>
  </div>
</div>
