.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background-color: #AA3939;
  height: 60px;

}

h2 {
  font-size: 24px;
}

.icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.icons {
  display: flex;
}

.language {
  margin-left: 25px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 200;
  margin-top: 2px;
  color: #fff;
}

.logo {
  color: #fff;
}
