<div class="popup" *ngIf="popupState">
  <div class="modal-window">
    <span class="close" (click)="hideRecipeInfo()">X</span>
    <div class="modal-content">
      <h1>{{'RECIPE' | translate}}</h1>
      <ul class="info">
        <li>
          <span>{{'NAME' | translate}}: </span><br>
          <span class="recipe_info">{{recipe.name}}</span>
        </li>
        <li>
          <span>{{'INGREDIENTS' | translate}}: </span><br>
          <span class="recipe_info">{{recipe.ingredients}}</span>
        </li>
        <li>
          <span>{{'TIME' | translate}}: </span><br>
          <span class="recipe_info">{{recipe.timeForCooking}}</span>
        </li>
        <li>
          <span>{{'DESCRIPTION' | translate}}: </span><br>
          <span class="recipe_info">{{recipe.description}}</span>
        </li>
      </ul>
      <div class="buttons">
        <button class="close_button" (click)="openEditRecipeModal(recipe)">{{'EDIT' | translate}}</button>
        <button class="close_button" (click)="hideRecipeInfo()">{{'CLOSE' | translate}}</button>
        <button class="edit_recipe" (click)="deleteRecipe()">{{'DELETE' | translate}}</button>

      </div>
    </div>
  </div>
</div>
